{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Credito Services</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
       <a href="{% url 'home' %}"><img src="{% static "images/creditologo.png" %}"></a>

{% with request.resolver_match.url_name as url_name %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li class="{% if url_name == 'home' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
      <li class="{% if url_name == 'werknemers_list' %} active {% endif %}"><a href="{% url 'werknemers_list' %}">Mijn credito</a></li>
        <li><a href="#">Organisatie's</a></li>
        <li><a href="#">Veilig betalen</a></li>
        <li class="{% if url_name == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Contact</a></li>

      </ul>
        {% endwith %}
    </div>
  </nav>
            <div class="row" style="margin-top:10%">
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="material-icons" style="font-size: 85px">business</i>
                <h4>Orgnisaties</h4>
                <p class="light center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum sem felis, nec scelerisque odio consectetur nec. Curabitur in est congue ex commodo ultricies. Ut pretium lobortis semper. Suspendisse et hendrerit ligula. Pellentesque erat odio, semper eget sodales ut, fermentum et leo.</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="material-icons" style="font-size: 85px">credit_card</i>
                <h4>Veilig betalen</h4>
                <p class="light center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum sem felis, nec scelerisque odio consectetur nec. Curabitur in est congue ex commodo ultricies. Ut pretium lobortis semper. Suspendisse et hendrerit ligula. Pellentesque erat odio, semper eget sodales ut, fermentum et leo.</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="material-icons" style="font-size: 85px">dashboard</i>
                <h4>Rekeningoverzicht</h4>
                <p class="light center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum sem felis, nec scelerisque odio consectetur nec. Curabitur in est congue ex commodo ultricies. Ut pretium lobortis semper. Suspendisse et hendrerit ligula. Pellentesque erat odio, semper eget sodales ut, fermentum et leo.</p>
              </div>
            </div>
          </div>
<br>
<br>
 <footer class="page-footer" style="margin-top: auto">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Credito Services</h5>
                <p class="grey-text text-lighten-4">Enschedeseweg 81<br>1229 DE Enschede<br>Tel. 06493922</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{% url "home" %}">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="{% url "werknemers_list" %}">Organisatie's</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Veilig betalen</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Mijn credito</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url "contact" %}">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Credito Services
            <a class="grey-text text-lighten-4 right" href="#">Disclaimer</a>
            </div>
          </div>
        </footer>
</body>
</html>