{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <!-- Pythonnnnnnnnnnn -->
<head>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Credito Services</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
    <a href="{% url 'home' %}"><img src="{% static "images/creditologo.png" %}"></a>
{% with request.resolver_match.url_name as url_name %}
      <ul id="nav-mobile" class="right">
        <li class="{% if url_name == 'home' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
      <li class="{% if url_name == 'werknemers_list' %} active {% endif %}"><a href="{% url 'werknemers_list' %}">Mijn credito</a></li>
        <li><a href="#">Organisatie's</a></li>
        <li><a href="#">Veilig betalen</a></li>
        <li class="{% if url_name == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    {% endwith %}
    </div>
  </nav>
<div class="row">
      <div class="col s11">
          {% block content %}
          {% endblock %}
      </div>
    </div><br>
<br>
<footer class="page-footer" style="margin-top: auto">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Credito Services</h5>
                <p class="grey-text text-lighten-4">Enschedeseweg 81<br>1229 DE Enschede<br>Tel. 06493922</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{% url 'home' %}">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="{% url 'werknemers_list' %}">Mijn credito</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Veilig betalen</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Organisatie's</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Credito Services
            <a class="grey-text text-lighten-4 right" href="#">Disclaimer</a>
            </div>
          </div>
        </footer>
</body>
</html>